<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="home.css"/>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
        <script type="text/javascript" src="bootstrap.min.js"></script>
        <script type="text/javascript" src="jquery-3.6.0.js"></script>
        <link rel="icon" type="image/x-icon"  href="parcel_ico.png" />
        <title>Parcel Payment</title>
    </head>
    <body>

        <form class="container">
            <legend>Paystack Form</legend>
            <div class="form-group">
                <input  id="email" class="form-control" name="email" placeholder="Enter E-mail"/>
            </div>
            <div class="form-group">
                <input id="amount" class="form-control" name="amount" placeholder="Enter Amount"/>
            </div>                      
            <div class="form-group">
                <input id="reference" class="form-control" name="reference" placeholder="Enter Payment Reference"/>
            </div>                      
            <input id="subBtn" type="submit" value="Submit" class="form-control"/> <br/>
            <input id="verBtn" type="submit" value="Verify" class="form-control"/>
        </form>

    </body>
    <!-- <script type="text/javascript" src="myApp.js"></script> -->
    <script>
        let email = document.getElementById('email');
        let amount = document.getElementById('amount');
        let subBtn = document.getElementById('subBtn');
        let verBtn = document.getElementById('verBtn');
        let reference = document.getElementById('reference');

        subBtn.addEventListener('click', post_paystack, false);
        function post_paystack(e) {
            e.preventDefault();
            let data = fetch('/v1/initializetransaction', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer sk_test_a07a45baef63500fbf6ab432fffee907e2300e98"
                },
                body: JSON.stringify({
                    "email": email.value,
                    "amount": amount.value
                })
            });
            data.finally(()=>{
                console.log("Result ready!");
            }).then((res) => {
                return res.json()
            }).then((data) => console.log(data))
            .catch((err)=>console.log(err.message));
        }

        verBtn.addEventListener('click', verifyPayment, false);

        function verifyPayment (e) {
            e.preventDefault();
            let verUrl = `/v1/verifypaydetail/${reference.value}`;
            let data = fetch(verUrl, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer sk_test_a07a45baef63500fbf6ab432fffee907e2300e98",
                }
            });
            data.finally(() => console.log("Result is ready!"))
            .then((res) => {
                return res.json();
            }).then((data) => console.log(data))
            .catch((err) => console.log(err));
        }
    </script>
</html>