<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="home.css"/>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
        <script type="text/javascript" src="bootstrap.min.js"></script>
        <script type="text/javascript" src="jquery-3.6.0.js"></script>
        <title>Parcel Payment</title>
    </head>
    <body>

        <form class="container">
            <legend>Payment Details</legend>
            <div class="form-group">
                <input  id="orderId" class="form-control" name="order_id" placeholder="Order Id"/>
            </div>
            <div class="form-group">
                <input id="customerId" class="form-control" name="customer_id" placeholder="Customer Id"/>
            </div>
            <div class="form-group">
                <input  id="customerName" class="form-control" name="customer_name" placeholder="Customer Name"/>
            </div>
            <div class="form-group">
                <input  id="amount" class="form-control" name="amount" placeholder="Amount"/>
            </div>
            <div class="form-group">
                <select id="provider" name="provider" class="form-control">
                    <option>Select Provider</option>
                    <option>Master Card</option>
                    <option>Verve Card</option>
                    <option>Visa Card</option>
                </select>
            </div>
            <div class="form-group">
                <select id="paymentType" name="payment_type" class="form-control">
                    <option>Select Payment Type</option>
                    <option>Card</option>
                    <option>Bank</option>
                    <option>Cash</option>
                </select>
            </div>    
            <div class="form-group">
                <select id="status" name="status" class="form-control">
                    <option>Select Status</option>
                    <option>Successful</option>
                    <option>Insufficient Fund</option>
                    <option>Failed</option>
                </select>
            </div>    
            <label class="form-group">
                Is Customer
                <input type="checkbox" id="isCustomer"  name="is_customer" />
            </label>
            <div class="form-group">
                <input id="createdAt" class="form-control" name="created_at" placeholder="Create time"/>
            </div>
            <div class="form-group">
                <input id="updatedAt" class="form-control" name="updated_at" placeholder="Update time"/>
            </div>
            <button id="subBtn" class="btn form-control">Submit</button>
            <!-- <input id="subBtn" type="submit" value="Submit" class="form-control"/> -->
        </form>

    </body>
    <script type="text/javascript" src="myApp.js"></script>
</html>